.picture {
    background-image: url("images/walk1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.walk {
    color: red;
    margin-left: 500px;
}

.form {
    padding-top: 5%;
    border: none;
    border-radius: 8px;
    background-color: #80350008;
    color: green;
    text-align: center;
}

.form1 {
    width: 20%;
    padding: 40px 100px 40px;
    border: none;
    border-radius: 8px;
    background-color: yellow;
    margin-left: 500px;
    color: blue;
    margin-bottom: 200px;

}

.button {
    background-color: yellow;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 15px;

}

.button1 {
    background-color: yellow;
    text-align: center;
    height: 50px;
}

.textfield {
    text-align: center;
    height: 50px;
}

.textfield1 {
    text-align: center;
    height: 50px;

}

.submit {
    border-radius: 12px;
    font-size: 50px;
    margin-top: 10px;
}


.picture2 {
    background-image: url("images/walk2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.picture3 {
    background-image: url("images/walk3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 10%;
}

.about {
    background-image: url("images/walk4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 10%;
}

.likeus {
    background-image: url("images/walk5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.contact {
    background-image: url("images/walk6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align:center;
}

iframe{
    width: 100%;
}

.calorie {
    color: green;
    font-size: 50px;
    text-decoration: underline;

}

.calorie1 {
    color: red;
    font-size: 50px;

}

.usersteps {
    color: green;
    font-size: 50px;
    text-align: center;
}

.stepss {
    font-size: 30px;
    color: darkblue;
    top: 200px;
}


.stepsss {
    font-size: 30px;
    color: red;
    top: 200px;
}

.notess {
    font-size: 30px;
    color: red;
    position: absolute;
}

.wrap {
    position: absolute;
    width: 100vw;
    text-align: center;
}

/*.navbar-nav {*/
/*    background-color: #80004726;*/
/*    height: 100px;*/
/*    font-size: 30px;*/
/*    margin: 0;*/
/*    padding-top: 40px;*/
/*}*/

.nav-link {
    color: red;
    margin-top: 200px;
    font-size: 30px;
    margin: 10px;
    font-style: oblique;
    
}

.aboutt {
    color: #0e008080;
    margin-top: 100px;
    font-size: 40px;
    margin: auto;
    top: 200px;
    font-family: fantasy;
    font-style: italic;
}

.facebook {
    margin: 0;
    position: absolute;
    top: 200px;
    margin-left: 600px;
}


.walk {
    margin-left: 150px;
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

.contact1 {
    font-size: 2em;
    margin-left: 600px;
    margin-top: 300px;
    position: relative;
    top: 50px;
    color: #200080f7;
    margin: 0;
}


.walk7 {
  margin-top: 75px;
  width: 100%;
  height:100%;
 }
 
 .row{
     font-style: italic;
 }

.map {
  margin-top: 100px;
   }
