<!DOCTYPE html>


<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walk Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <nav class="navbar">



        <div class="navbar-nav">


            <a class="nav-link" href="{{url_for('show_about')}}">ABOUT</a>
            <a class="nav-link" href="https://www.facebook.com" target="_blank">LIKE US</a>
            <a class="nav-link" href="{{url_for('show_contact')}}">CONTACT</a>

            <span class="walk">WALK APPLICATION</span>

        </div>

    </nav>





    {% block content %} {% endblock content%}

</body>

</html>
