{% extends 'base.html' %} 

 

    {% block content %}
    
    <div class = "picture2">
    
    
    
    <form class ="form" method="POST">
        
        <input class = "textfield1" id="steps" type="text" name="steps"/>
        <label for="steps" class="stepsss" >No.of Steps</label>
        
        <br>
        
        <input class = "button1" id="notes" type="text" name="notes"/>
        <label for="notes" class="notess">Notes</label> 
        
        <br>
        
        <input class="submit" id="submit" type="submit" value="submit"/>
        
    </form>
    
    {%for walk in walks%}
    
    
    
    <p class="usersteps"><a href="/{{username1}}/calorie/{{walk._id}}">{{walk.date.strftime('%Y-%m-%d') }}</a></p>
    
    {% endfor %}
    
    </div>
    
    
    {% endblock content%}
    
    
    
    
